{% if search.items is defined %}
	{% for book in search.items %}
		<div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
			<h3 class="text-lg text-gray-700">{{book.volumeInfo.title}}</h3>
			{% if book.volumeInfo.imageLinks is defined %}
				<img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="{{book.volumeInfo.title}}"/>
			{% endif %}
			{% if book.volumeInfo.authors is defined %}
				{% for author in book.volumeInfo.authors %}
					<p class="mt-1 text-lg text-gray-500">{{ author }}</p>
				{% endfor %}
			{% endif %}
			<a href="{{ path('app_profile_search_add', {'id': book.id})}}">Ajouter à ma liste</a>
		</div>
	{% endfor %}
{% endif %}
