{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	<h3>Search books</h3>
	<input class="form-control" type="search" name="search" 
    placeholder="Begin typing to search books..." 
    hx-post="/profile/search/api"
    hx-trigger="keyup changed delay:500ms, search" 
    hx-target="#search-results"
	>
	<div id="search-results" class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"></div>
                
{% endblock %}
