<div class="bg-blue-950">
	<div class="relative isolate px-6 pt-14 lg:px-8">
		<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
			<div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
		</div>
		<div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">		
			<div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
            <div class="flex flex-shrink-0 items-center">
          <img class="h-11 w-auto" src="{{ asset('favicon-32x32.png')}}" alt="Your Company">
        </div>
			<div class="text-center">
				
				<h1 class="text-4xl overline font-bold tracking-tight text-slate-100 sm:text-6xl">FreeReads</h1>
				<p class="mt-6 text-lg leading-8 text-slate-200">Lisez et partagez vos listes de lecture préférées.</p>
				<div class="mt-10 flex items-center justify-center gap-x-6">
					<a href="{{ path('app_login') }}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm
														                    font-semibold text-white shadow-lg hover:bg-indigo-500
														                    focus-visible:outline focus-visible:outline-2
														                    focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
						Se connecter
					</a>
				</div>
			</div>
		</div>
		<div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
			<div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
		</div>
	</div>
</div>
