{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home page{% endblock %}

{% block body %}
{% include "home/_hero.html.twig" %}

{% include "home/_feature.html.twig" %}

{% include "home/_stat.html.twig" %}

{% include "home/_cta.html.twig" %}

{% include "_footer.html.twig" %}
{% endblock %}
