<footer
  class="bg-blue-950 text-center lg:text-left">
  <div class="p-4 text-center text-slate-100">
    © 2023 Copyright:
    <a
      class="text-slate-100"
      href="https://tailwind-elements.com/"
      >Thibaut-Louis Taglialatela</a
    >
  </div>
</footer>